*{
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}

#home{
    background: #87509c;
    width: 100%;
    height: 595px;
}
#logo img{
    display: inline-block;
    margin-left: 150px;
    margin-top: 58px;
    float: left;
}
#option li{
    list-style-type: none;
    color: white;
    padding: 0.75px 1.5px;;
    float: right;
    margin-right: 45px;
    display: inline;
    margin-top: 70px;
    font-weight: 400;
}
#text {
    color: white;
    text-align: center;
    margin: auto;
    padding-top: 145px;
    display: inline-block;
    padding-left: 295px;
    padding-right: 295px;
}
#work{
    color: white;
    text-align: center;
    background: #eb7d4b;
    width: 290px;
    height: 66px;
    margin: auto;
    margin-top: 60px;
    padding-bottom: 24px;
    border-radius: 4px;
    border-bottom: solid 4px #c86a40;
}
#work h3{
    padding-top: 38px;
    display: inline-block;
    
}


#services{
    background: #17c2a4;
    width: 100%;
    height: 745px;
    
}
#barre1 {
    background: #14a58c;
    width: 88px;
    height: 5px;
    margin: auto;
    border: none;
    margin-top: 20px;
}
#title {
    text-align: center;
    color: white;
    padding-top: 118px;
}
#txt {
    text-align: center;
    color: white;
    padding-top: 25px;
}
#serv li{
    list-style-type: none;
    text-align: center;
    color: white;
}
#serv ul{
    display: inline-block;
    padding-top: 80px;
}
#serv h5{
    padding-top: 60px;
}
#serv p{
    padding-top: 30px;
}


#team {
    background: #e7f1f8;
    width: 100%;
    height: 912px;
}
#title1  {
    text-align: center;
    padding-top: 120px;
    font-weight: 700;
}
#team p {
    text-align: center;
    padding-top: 50px;
    font-weight: 400;
}
#person {
    margin: auto;
}
#person li {
    list-style-type: none;
    text-align: center;
    color: black;
}
#person ul {
    display: inline-block;
    padding-top: 80px;
}
#person h4 {
    padding-top: 40px;
}
#person h5 {
    color: #aadff2;
    padding-top: 16px;
}
#person li img {
    padding-top: 30px;
}
#person p {
    padding-top: 30px;
}


#skills{
    background: #ffffff;
    width: 100%;
    height: 655px;
}
#title2 {
    text-align: center;
    padding-top: 120px;
    color: #3c4761;
}
#skills p{
    text-align: center;
    padding-top: 50px;
    color: #636c81;
}
#percentage li {
    list-style-type: none;
    text-align: center;
    color: black;
}
#percentage ul {
    display: inline-block;
    padding-top: 80px;
}
#percentage h5 {
    padding-top: 30px;
}


#portfolio{
    background: #ffdd99;
    width: 100%;
    height: 1422px;
}
#title3 {
    text-align: center;
    padding-top: 120px;
}
#portfolio p {
    text-align: center;
    padding-top: 50px;
}
#menu {
    padding-left: 420px;
    font-weight: 400;
}
#menu li{
    text-align: center;
    list-style-type: none;
    display: inline-block;
    background: #ebc985;
    width: 80px;
    height: 30px;
    padding-top: 10px;
    margin-top: 40px;
    border-radius: 4px;
}
#computer1 {
    float: left;
    text-align: center
}
#computer2 {
    float: right;
    text-align: center;
}
#computer3 {
    float: left;
    text-align: center;
}
#computer4 {
    float: right;
    text-align: center;
}


#about{
    background: #d74680;
    width: 100%;
    height: 893px;
}


#contact{
    background: #3c5499;
    width: 100%;
    height: 929px;
}
#title5 {
    text-align: center;
    color: white;
    padding-top: 120px;
}
#barre6 {
    background: #273a71;
    width: 88px;
    height: 5px;
    margin: auto;
    border: none;
    margin-top: 20px;
}
#contact p {
    text-align: center;
    color: white;
    padding-top: 25px;
}
#name {
    background: #273a71;
    width: 410px;
    height: 55px;
    float: left;
    margin-top: 80px;
    margin-left: 190px;
    color: white;
    border-radius: 4px
}
#name p{
    text-align: left;
    padding-left: 25px;
    padding-top: 15px;
}
#email {
    background: #273a71;
    width: 410px;
    height: 55px;
    float: right;
    margin-top: 80px;
    margin-right: 190px;
    color: white;
    border-radius: 4px;
}
#email p{
    text-align: left;
    padding-left: 25px;
    padding-top: 15px;
}
#message {
    background: #273a71;
    width: 900px;
    height: 200px;
    margin-left: 190px;
    margin-right: 190px;
    margin-top: 160px;
    color: white;
    border-radius: 4px;
}
#message p{
    text-align: left;
    padding-left: 25px;
    padding-top: 15px
}
#send {
    background: #30bae7;
    width: 293px;
    height: 66px;
    color: white;
    margin: auto;
    margin-top: 60px;
    border-radius: 4px;
    border-bottom: solid 4px #299ec5;
}
#send h3 {
    text-align: center;
    padding-top: 20px;
}
#end li{
    list-style-type: none;
    display: inline-block;
}


