*{
    margin: 0;
    font-family: 'Titilium Web', sans-serif;
}

#home{
    background: #87509c;
    width: 100%;
    height: 595px;
}
#logo img{
    display: inline-block;
    margin-left: 150px;
    margin-top: 58px;
    float: left;
}
#option li{
    list-style-type: none;
    color: white;
    padding: 0.75px 1.5px;;
    float: right;
    margin-right: 45px;
    display: inline;
    margin-top: 70px;
    font-weight: 400;
}
#text h1{
    color: white;
    text-align: center;
    margin: auto;
    padding-top: 145px;
    display: inline-block;
    font-weight: 700;
    padding-left: 190px;
    padding-right: 190px;
}
#work{
    color: white;
    text-align: center;
    background: #eb7d4b;
    width: 290px;
    height: 66px;
    margin: auto;
    margin-top: 60px;
    padding-bottom: 24px;
    border-radius: 4px;
    border-bottom: solid 4px #c86a40;
}
#work h3{
    padding-top: 38px;
    display: inline-block;
    
}


#services{
    background: #17c2a4;
    width: 100%;
    height: 745px;
    
}
#title {
    text-align: center;
    color: white;
    padding-top: 118px;
}
#txt {
    text-align: center;
    color: white;
    padding-top: 48px;
}
#serv li{
    list-style-type: none;
    text-align: center;
    color: white;
}
#serv ul{
    display: inline-block;
    padding-top: 80px;
}
#serv h5{
    padding-top: 60px;
}
#serv p{
    padding-top: 30px;
}


#team {
    background: #e7f1f8;
    width: 100%;
    height: 912px;
}
#title1  {
    text-align: center;
    padding-top: 120px;
    font-weight: 700;
}
#team p {
    text-align: center;
    padding-top: 50px;
    font-weight: 400;
}
#person {
    margin: auto;
}
#person li {
    list-style-type: none;
    text-align: center;
    color: black;
}
#person ul {
    display: inline-block;
    padding-top: 80px;
}
#person h4 {
    padding-top: 40px;
}
#person h5 {
    color: #aadff2;
    padding-top: 16px;
}
#person li img {
    padding-top: 30px;
}
#person p {
    padding-top: 30px;
}


#skills{
    background: #ffffff;
    width: 100%;
    height: 655px;
}
#title2 {
    text-align: center;
    padding-top: 120px;
}
#skills p{
    text-align: center;
    padding-top: 50px;
}
#percentage li {
    list-style-type: none;
    text-align: center;
    color: black;
}
#percentage ul {
    display: inline-block;
    padding-top: 80px;
}
#percentage h5 {
    padding-top: 30px;
}

#portfolio{
    background: #ffdd99;
    width: 100%;
    height: 1422px;
}
#menu li{
    list-style-type: none;
    display: inline;
}


#about{
    background: #d74680;
    width: 100%;
    height: 893px;
}


#contact{
    background: #3c5499;
    width: 100%;
    height: 929px;
}
